@model IEnumerable<Mission7_ajames26.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<h1>Movie Database</h1>

<p>
    <a asp-action="EnterMovie">Create New</a>
</p>

<!-- Html.DisplayNameFor allows me to use Data Annotations to supply a title other than the field's name. See example in Movie.cs line 19. -->

<div class="fadeobject">
    <table class="table table-border">
        <thead class="font-weight-bold">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LentTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieCategory.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LentTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="EditMovie" asp-route-id="@item.Id" class="btn btn-dark">Edit</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>